levelbar .strength-weak {
    background-color: #cc0000;
    border-color: #cc0000;
}

levelbar .strength-low {
    background-color: #f5ce00;
    border-color: #f5ce00;
}

levelbar .strength-medium,
levelbar .strength-good {
    background-color: #73d216;
    border-color: #73d216;
}

spinner {
    min-width: 32px;
    min-height: 32px;
}

.bubble {
    background-color: alpha(currentColor, 0.08);
    min-width: 32px;
    min-height: 32px;
    border-radius: 50%;
}